<li class="cd-tile fade-in-slow">
		
	<div class="cd-tile-upper-half">
		<img class="cd-tile-upper-image" src="/assets/images/bap-thumbnail.png" />
	</div>

	<div class="cd-tile-lower-half">
		<b class="title-text">{{name}}</b>
		<a href="/ui/bap-library/{{name}}/executions" class="subtle-link" title="view these executions...">{{getArrayLength executions}} executions</a>
	</div>

</li>