{{!-- hydrated with an object of type <cdApi.BapExecution> --}}

<li class="fade-in-slow">
		
	{{execution_id}}
	<br/>
	status: {{status}}
	<br/>
	result: {{execution_result}}
	<br/>
	error: {{execution_error}}

</li>